<% provide :title, t(".title") %>
<h1><%= t ".caption" %></h1>
<p>
  <%= t ".i_0" %> <a href="https://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a>
  <%= t ".i_1" %>
  <a href="https://www.railstutorial.org/book"><%= t ".i_2" %></a>
  <%= t ".i_3" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".i_4" %></a>
  <%= t ".i_5" %>
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  <%= t ".i_6" %>
</p>
