<% provide :title, t(".help_title") %>
<h1><%= t ".help_caption" %></h1>
<p>
  <%= t ".help_paragraph_0" %>
  <%= link_to "Rails Tutorial","https://www.railstutorial.org/help" %>
  <%= t ".help_paragraph_1" %>
  <%= t ".help_paragraph_2" %>
  <em>
    <%= link_to t(".help_paragraph_3_part_a") + "Ruby on Rails",
    "https://www.railstutorial.org/book" %>
  </em>
  <%= t ".help_paragraph_3_part_b" %></a>.
</p>
