<% provide :title, t(".title") %>
<h1><%= t ".caption" %></h1>
<p>
  <%= t ".h_0" %>
  <a href="https://www.railstutorial.org/help">Rails Tutorial <%= t ".h_1" %></a>.
  <%= t ".h_2" %>
  <a href="https://www.railstutorial.org/book"><em><%= t ".h_3_a" %> Ruby on Rails Tutorial</em>
  <%= t ".h_3_b" %></a>.
</p>
