<footer class="footer">
  <small>
    <%= t ".footer_paragraph_0" %>
    <%= link_to t(".footer_paragraph_1"), "https://www.railstutorial.org/" %>
    <%= t ".footer_paragraph_2" %> 
    <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".footer_paragraph_3"), about_path %></li>
      <li><%= link_to t(".footer_paragraph_4"), contact_path %></li>
      <li><%= link_to t(".footer_paragraph_5"), "http://news.railstutorial.org/" %>
    </ul>
  </nav>
</footer>
