<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div id="nav">
      <%= t ".cap_language" %>
      <%= link_to_unless_current "English", locale: "en" %>
      <%= link_to_unless_current "Vietnam", locale: "vi" %>
    </div>
    <%= yield %>
  </body>
</html>
